* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Base Styles -------------------- */

html {
  font-size: 0.975em;
  margin: 0 auto;
}
body {
  position: relative;
}

header h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 30px;
  letter-spacing: 2px;
}
main,
header {
  max-width: 1440px;
  min-width: 320px;
}

/* Pseudo-classes ------------------ */



/* Main Styles --------------------- */

.hidden {
  display: none;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  height: auto;
  border: solid lightgrey 2px;
}

/* Layout Styles ------------------ */
.grid-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.card {
  width: 380px;
  display: flex;
  border-radius: 10px;
  border: 2px solid lightgrey;
  padding: 25px 25px;
  margin: 5px;
}
.text-container {
  margin-top: 25px;
}
.grid-container .text-container {
  padding-left: 20px;
}
.modal .text-container .address {
  margin-top: 8px;
}
.modal .text-container .email {
  margin-top: 4px;
}
.modal .text-container .address {
  margin-bottom: 15px;
}
.modal .text-container .phone {
  margin-top: 20px;
  color: grey;
}
.name {
  padding-bottom: 5px;
  font-weight: bold;
}
.email {
  font-size: .825em;
  padding-bottom: 5px;
}
.address {
  font-size: .725em;
}
.birthday {
  color: grey;
}
.email,
.address {
  color: grey;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4)
}
.modal {
  height: 450px;
  width: 400px;
  margin: 5% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 25px;
}

.modal-close {
position: absolute;
right: 10px;
top: 10px;
cursor: pointer;
border: none;
}


/* Media Queries ------------------ */

@media screen and (min-width: 80em) {
  html {
    font-size: calc(0.875em + 0.25 * (100vw - 80em) / 40); /* 1 */
    font-size: -webkit-calc(87.5% + 0.25 * (100vw - 8000%) / 40); /* 2 */
    font-size: -ms-calc(0.875em + 0.25 * (100vw - 80em) / 40); /* 3 */
  }
}

@media screen and (min-width: 120em) {
  html {
    font-size: 1.125em;
  }
}
